.banner {
    position: relative;
    height: 100vh;
    min-height: 40rem;
    margin-top: -5rem;

    @include media-breakpoint-down(md) {
        max-height: 40rem;
        margin-top: -4rem;
        color: #fff;

        .col-lg-5 {
            height: 100%;
        }

        .text-secondary {
            color: rgba(255, 255, 255, .6) !important;
            font-size: 1rem;
        }

        .btn-primary {
            position: absolute;
            bottom: 1.5rem;
            left: 1rem;
            right: 1rem;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        background: url(../images/craftsman/tom-crew-5HRCkrSs9Dk-unsplash.jpg) no-repeat;

        @include media-breakpoint-down(md) {
            width: 100%;
        }

        &__overlay {
            display: none;

            @include media-breakpoint-down(md) {
                display: block;
                height: 100%;
                background: #000;
                opacity: .38;
            }
        }
    }
}

.director {
    background: url(../images/craftsman/burningparrot-u2Xn5Bzvllw-unsplash.jpg) no-repeat;
    height: 25rem;

    .h2 {
        line-height: 1.5;
    }
}

.products {
    .row {
        overflow-x: auto;
                
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__item {
        margin: 0 .9375rem;

        @include media-breakpoint-down(md) {
            margin: 0 .5rem;
        }
    }

    &__image {
        width: 21.875rem;
        height: 21.875rem;
        transition: all .5s ease-in-out;

        &:hover {
            opacity: .75;
        }

        @include media-breakpoint-down(md) {
            width: 15rem;
            height: 15rem;
        }
    }
}

.subscribe {
    background: url(../images/craftsman/tom-crew-uDF1mW7EUwM-unsplash.jpg) no-repeat;
    padding-top: 5.25rem;
    padding-bottom: 5.25rem;

    @include media-breakpoint-down(sm) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        .h1 {
            font-size: 2rem;
        }
    }

    .form-control {
        height: auto;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &::placeholder {
            color: rgba(255, 255, 255, .6);
        }
    }

    .btn-primary {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}