<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head') %>
</head>

<body>
  <header class="header">
    <div class="container">
      <nav class="navbar navbar-expand-lg py-3 py-lg-5 px-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="material-icons text-white">dehaze</i>
        </button>

        <a class="navbar-brand p-1 ml-n1" href="index.html">Craftsman</a>

        <a class="material-icons nav-link order-lg-3 p-1 p-lg-2 mr-lg-n2" href="#">shopping_cart</a>

        <div id="navbarNav" class="collapse navbar-collapse justify-content-end mr-8">
          <ul class="navbar-nav">
            <li class="nav-item mr-8">
              <a class="nav-link" href="#">Product</a>
            </li>
            <li class="nav-item mr-8">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <%- contents %>

  <footer class="footer container-fluid">
    <div class="container d-flex flex-column flex-lg-row justify-content-between align-items-lg-center py-6 py-lg-8 px-0">
      <a class="navbar-brand p-1 ml-n1 mb-10 mb-lg-0 text-white" href="index.html">Craftsman</a>

      <a href="javascript:;" class="order-lg-3 text-white font-sm mb-4 mb-lg-0 mr-lg-10">Purchase Policy</a>
      <a href="javascript:;" class="order-lg-3 text-white font-sm mb-4 mb-lg-0 mr-lg-10">Privacy Policy</a>
      <a href="javascript:;" class="order-lg-3 text-white font-sm">Terms & Conditions</a>

      <p class="order-lg-2 mt-10 mt-lg-0 mr-lg-auto text-white-60 font-sm">© 2020. All Rights Reserved.</p>
    </div>
  </footer>

</body>
</html>